{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}
{% block content %}

        <h1 class="h3 mb-3 font-weight-normal">Check your Email</h1>
        <p>
            An email has been sent that contains
{#            <br>#}
            a link that you can click to reset your password.
            <br>
            This link will expire in {{ tokenLifetime|date('g') }} hour(s).
            <br>
            If you don't receive an email please
{#            <br>#}
            check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.
        </p>

{% endblock %}
