.addQuestionForm{
    width: 80%;
    margin: auto;
}

.description{
    height: 100px;
    resize: none;
    font-size: 20px;
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
    margin: 0;
}

.form_box {
    width: 70%;
    margin: 0 auto;
}