.addQuestionForm{
    width: 80%;
    margin: auto;
}

.description{
    height: 100px;
    resize: none;
    font-size: 20px;
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
    margin: 0;
}

.form_box {
    width: 70%;
    margin: 0 auto;
}

.addQuiz{
    font-size: 20px;
    font-weight: bold;
}
.radioBtn{
    margin-left: 50px;
}
#question_form_answers_0, #question_form_answers_1,
#question_form_answers_2, #question_form_answers_4,
#question_form_answers_3, #question_form_answers_5,
#question_form_answers_7, #question_form_answers_6,
#question_form_answers_8, #question_form_answers_9,
#question_form_answers_10, #question_form_answers_11,
#question_form_answers_12, #question_form_answers_13
{
    width: 80%;
}