#quiz_form_isActive_1{
    margin-left: 25px;
}
input[type=radio]{
    margin-right: 10px;
}
.addQuizForm{
    width: 50%;
    margin: auto;
}

#quiz_form_name{
    margin-bottom: 10px;
}

#quiz_form_Description{
    margin-bottom: 20px;
    height: 100px;
    resize: none;
}
.h1 {
    margin: 0 auto;
    width: 30%;
}

.form_box{
    width: 70%;
    margin: 0 auto;
}
