#grid, .tableHeader{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 30% 8% 12% 10%;
    grid-gap: 5%;
}
.container{
    width: 90%;
}
.gridin{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    grid-gap: 0;
}
.tableHeader{
    font-weight: bold;
}
.filterBtn{
    width: 50px;
    height: 35px;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.containerFilterBtn{
    text-align: left;
}