body{
    background-color: #f5f5f5;
}
#id-col{
    width: 10%;
}
#email-col{
    width: 40%;
}
#name-col{
    width: 30%;
}
#role-col{
    width: 20%;
    background: url("../sortable.png") no-repeat 95% 50%;
}
.dropdown-menu input, button[type='submit']{
    margin-top: 6px;
}
.dropdown{
    margin: 10px 0;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th:hover{
    background-color: #f2f2f2;
}
