body{
    background-color: #f5f5f5;
}
#id-col{
    width: 10%;
}
#email-col{
    width: 40%;
}
#name-col{
    width: 30%;
}
#status-col{
    width: 10%;
}
#role-col{
    width: 10%;
}
.user-table{
    text-align: left;
}
.user-table img{
    margin-right: 10px;
}
.user-table tbody tr th{
    padding-left: 50px;
}
.dropdown-menu input, button[type='submit']{
    margin-top: 6px;
}
.dropd{
    margin: 10px 0;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
thead th:hover{
    background-color: #efefef;
}
thead th{
    cursor: pointer;
}
th img{
    margin-right: -24px;
}
