{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}
    <h1>admin page</h1>
    <hr>
    <div>
        <a href="{{ path('add_quiz') }}">Create quiz</a>
    </div>
    <div>
        <a href="{{ path('add_question') }}">Create question</a>
    </div>
{% endblock %}
