{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}
    <style >
        .h1 {
            margin: 0 auto;
            width: 30%;
        }
    </style>
    <h1>admin page</h1>
    <div>
        <a href="{{ path('add_quiz') }}">Создать викторину</a>
    </div>
    <div>
        <a href="{{ path('add_question') }}">Создать вопрос</a>
    </div>
{% endblock %}
