{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}
    <style >
        .h1 {
            margin: 0 auto;
            width: 30%;
        }
    </style>
    <h1>admin page</h1>
{% endblock %}
