{% extends 'base.html.twig' %}

{% block title %}Delete question{% endblock %}

{% block body %}
    {% block content %}
        <div>
            "DELETED"
        </div>
    {% endblock %}
{% endblock %}
