{% block content %}
    <div class="row">
        <div class="col-sm">
            <table class="tab">
                {% for log in list %}
                    <tr
                            {% if loop.first %}style="font-weight: bold"{% endif %}
                            {% if loop.index is even %}class="even"{% endif %}
                    >
                        <td>{{ loop.index }}</td>
                        <td>{{ log }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}