{% extends 'base.html.twig' %}

{% block content %}
    <h1>400 Bad Request</h1>
    <hr>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <br>
        <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}