{% extends 'base.html.twig' %}

{% block title %}Hello TwigListController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/list.css">
{% endblock %}
{% block header %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Header</h1>
            <h5>
                {{ date|date('d/m/Y') }}
            </h5>
        </div>
    </div>
{% endblock %}
{% block content %}

    {% include 'in.html.twig' %}

{% endblock %}
{% block footer %}
    <div class="row">
        <div class="col-sm">
            <h1>Footer</h1>
            <a href="{{ path('app_login') }}">Login</a>
        </div>
    </div>
</div>
{% endblock %}




{% block body %}{% endblock %}
